/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:    #0f0e1c;
    background-alt: #282B31FF;
    foreground:    #a6d5d6;
    selected:      #4EA2AA;
    active:         #98C379FF;
    urgent:         #E06C75FF;
}
