/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:    #0a090b;
    background-alt: #282B31FF;
    foreground:    #9ccde7;
    selected:      #BD4C99;
    active:         #98C379FF;
    urgent:         #E06C75FF;
}
